.hum__track__card-container {
  width: 95%;
  height: 150px;
  display: flex;
  border-radius: 10px;
  background-color: lightcoral;
  overflow: hidden;
  flex-direction: column;

  margin: 1rem 0.6rem;
  cursor: pointer;
}

.hum__track__text-block {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0.7rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  font-family: var(--font-alt);
}

.hum__track__image-block {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hum__track__image {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  top: 8%;
  left: 5%;
}

.hum__track__card-container img {
  width: 100%;
  height: 100%;
  transform: rotate(30deg);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);
}

@media (min-width: 410px) {
  .hum__track__card-container {
    width: 170px;
    height: 160px;
  }
}

@media (min-width: 770px) {
  .hum__track__card-container {
    width: 200px;
    height: 180px;
  }
}

@media (min-width: 930px) {
  .hum__track__card-container {
    width: 230px;
    height: 190px;
  }
}

@media (min-width: 1200px) {
  .hum__track__card-container {
    width: 300px;
    height: 190px;
  }
}
