.about-hum {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 2rem;
}

.about-hum__info-container {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.about-hum__info-container__logo {
  display: flex;
}

.about-hum__info-container__logo img {
  width: 100px;
  height: 50px;
}

.about-hum__info-container__text {
  margin-top: 2rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-hum__info-container__text-heading {
  font-size: 3.5rem;
  font-family: var(--font-base);
  font-weight: 400;
  text-transform: capitalize;

  display: flex;
  flex-direction: column;
}

.bold__text-heading {
  text-transform: uppercase;
  color: var(--bold-orange);
  font-weight: 800;
  margin-top: 1rem;
}

.bold__text-heading span {
  color: var(--text-orange);
}

.about_hum__info-container__para {
  margin-top: 1rem;
  width: 90%;
  font-family: var(--font-alt);
  font-size: 1.1rem;
}

.about_hum__info-container__para p {
  color: var(--text-gray);
  font-size: 1rem;
  font-weight: 600;
  word-spacing: 1px;
}

.about-hum__img-container {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  border-radius: 0.7rem;
  background: var(--primary-color);
}

.about-hum__img-container img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .about-hum {
    flex-direction: column;
  }

  .about-hum__info-container {
    margin-bottom: 2rem;
  }
}
