.hum__search-container {
  margin-top: 2rem;
  padding: 1rem 0rem;

  display: flex;
  flex-direction: column;
}

.hum__search-container__search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  position: sticky;
  top: 0;
  left: 0;

  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);

  padding: 1rem 0;
}

.hum__search-container__search-input input {
  width: 60%;
  border: 1px solid var(--text-orange);
  padding: 0.5rem 1rem;
  font-family: var(--font-alt);
  background: var(--primary-color);
  outline: none;
  color: #000;
  border-radius: 1rem;
}

.hum__search-result__container {
  background: var(--light-bg);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.hum__search-result__loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
