.hum__search-container {
  margin-top: 2rem;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;

  display: flex;
  flex-direction: column;
}

.hum__search-container__search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02);

  padding: 1rem 0;
}

.hum__search-container__search-input input {
  width: 60%;
  border: 2px solid var(--text-orange);
  padding: 0.5rem 1rem;
  font-family: var(--font-alt);
  background: var(--light-bg);
  outline: none;
  color: #000;
}

.hum__search-container__search-input button {
  padding: 0.5rem 0.7rem;
  border: 2px solid var(--text-orange);

  background: var(--text-orange);
  color: #fff;
  font-family: var(--font-alt);
  font-weight: 700;
  letter-spacing: 0.7px;
  cursor: pointer;
  outline: none;
}

.hum__song-exception__handling {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hum__song-exception__handling div {
  background: var(--primary-color);
  width: 60%;
  height: 250px;

  box-shadow: 0px 0px 5px rgba(255, 42, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-alt);
  font-weight: 700;
  color: var(--bold-orange);
}

@media screen and (max-width: 500px) {
  .hum__search-container__search-input input {
    width: 70%;
  }

  .hum__song-exception__handling div {
    width: 90%;
  }
}
