:root {
  --primary-color: #fff6db;
  --normal-orange: #ff5a29;
  --bold-orange: #ff2b00;
  --text-orange: #fe5002;
  --text-gray: #b3b3b3;
  --text-blue: #2b394e;
  --light-bg: #fffdfd;
  --orange-bg: #fff6db;

  --font-base: "STIX Two Text", serif;
  --font-alt: "Open Sans", sans-serif;
}
