:root {
  --primary-color: #fff6db;
  --normal-orange: #ff5a29;
  --bold-orange: #ff2b00;
  --text-orange: #fe5002;
  --text-gray: #b3b3b3;
  --text-blue: #2b394e;
  --light-bg: #fffdfd;

  --font-base: "STIX Two Text", serif;
  --font-alt: "Open Sans", sans-serif;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  background: #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
